
/*Design needs some documentation*/
.serviceContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vw;
    z-index: -2;
}

.serviceHeader {
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceHeader img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -99;
}

.details {
    position: absolute;
    width: 70%;
    color: white;
    font-size: 1.2rem;
}

.servicePicture {
    width: 320px;
    height: 250px;
}

.timeBooking h2 {
    margin: 0;
}

.timeBooking {
    width: 300px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.timeSheet {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start; 
}

.serviceContent {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}



.contentRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 808px) {
    .serviceContent {
        flex-direction: column;
        align-items: flex-start; 
    }
    .contentRight {
     
        text-align: left; 
    }

    .timeSheet {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start; 
    }
}
