.navContainer{
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
    background-color: transparent;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.navLogo img{
    width: 70px;
}

.navLinks ul{
    display: flex;
    gap: 34px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.Nav-link {
    text-decoration: none;
    color: inherit;
  }
  


@media (max-width:741px){
    .navContainer{
     margin: 0;
     width: 100%;

   /* padding: 15px 15px 0px 15px;*/  
    }


    .navLinks{
      
        position: absolute;
        top: 100%;
        right: 0%;
        border: 1px solid red;
        transition: right 0.3s ease-in-out;
        right: -110%;
    }

    .openMenu{
        right: 0%;
    }

    .navLinks ul{
        flex-direction: column;
        right: 0;
    }
}